body {
    background-color: blanchedalmond;
}

#recordContainer {
    width: auto;
    margin: auto;
    /* margin-top: 50px; */
    display: flex;
  }
  
  .recordBox{
    float: auto;
    width: 350px;
    height: auto;
    background-color: lightblue;
    color: #000080;
    margin: 15px;
    padding: 10px;
    text-align: center;
  }

  #form {
      background-color: lightgreen;
      float: left;
      margin: 15px;
      padding: 20px;
  }